<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     ----- ---------------------------------- 0.8/6.0 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 1.6/6.0 MB 2.8 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 3.3 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 3.4 MB/s eta 0:00:01
     ----------------------------- ---------- 4.5/6.0 MB 3.6 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.7 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142947 sha256=317c239c2a8a922e58dd04c56ae16ca1d9e295cfea8d0ec45170ccb165abe6be
  Stored in directory: c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.32
    Uninstalling SQLAlchemy-2.0.32:
      Successfully uninstalled SQLAlchemy-2.0.32
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (8.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.45)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\oblakur2\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.35-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------------- ------------------------ 0.8/2.1 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.3 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.35

In [3]:
%load_ext sql

There's a new jupysql version available (0.10.14), you're running 0.10.12. To upgrade: pip install jupysql --upgrade
Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

Connecting to 'sqlite:///my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv(r"c:\Users\OBLAKUR2\Downloads\Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

Running query in 'sqlite:///my_data1.db'

++
||
++
++

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

Running query in 'sqlite:///my_data1.db'

++
||
++
++

In [17]:
%sql SELECT * FROM SPACEXTBL

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+----------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome    |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+----------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute)  |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute)  |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt      |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt      |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt      |
| 2013-09-29 |  16:00:00  |  F9 v1.1  B1003 | VAFB SLC-4E |                            CASSIOPE                           |        500        | Polar LEO |       MDA       |     Success     | Uncontrolled (ocean) |
| 2013-12-03 |  22:41:00  |     F9 v1.1     | CCAFS LC-40 |                             SES-8                             |        3170       |    GTO    |       SES       |     Success     |      No attempt      |
| 2014-01-06 |  22:06:00  |     F9 v1.1     | CCAFS LC-40 |                           Thaicom 6                           |        3325       |    GTO    |     Thaicom     |     Success     |      No attempt      |
| 2014-04-18 |  19:25:00  |     F9 v1.1     | CCAFS LC-40 |                          SpaceX CRS-3                         |        2296       | LEO (ISS) |    NASA (CRS)   |     Success     |  Controlled (ocean)  |
| 2014-07-14 |  15:15:00  |     F9 v1.1     | CCAFS LC-40 |            OG2 Mission 1  6 Orbcomm-OG2 satellites            |        1316       |    LEO    |     Orbcomm     |     Success     |  Controlled (ocean)  |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+----------------------+
Truncated to displaylimit of 10.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
%sql SELECT Launch_Site, COUNT(*) FROM SPACEXTBL GROUP BY Launch_Site

Running query in 'sqlite:///my_data1.db'

+--------------+----------+
| Launch_Site  | COUNT(*) |
+--------------+----------+
| CCAFS LC-40  |    26    |
| CCAFS SLC-40 |    34    |
|  KSC LC-39A  |    25    |
| VAFB SLC-4E  |    16    |
+--------------+----------+


### Task 2


#####  Dis'play 5 records where launch sites begin with the string  'CCA

In [24]:
%sql SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE '%CCA%' LIMIT 5

Running query in 'sqlite:///my_data1.db'

+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                            Payload                            | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |              Dragon Spacecraft Qualification Unit             |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | Dragon demo flight C1, two CubeSats, barrel of Brouere cheese |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                     Dragon demo flight C2                     |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                          SpaceX CRS-1                         |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                          SpaceX CRS-2                         |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+---------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [87]:

%sql select  count("Mission_Outcome") as MISSION_OUTCOME_COUNT,Launch_Site  from SPACEXTBL group by "Launch_Site";

Running query in 'sqlite:///my_data1.db'

+-----------------------+--------------+
| MISSION_OUTCOME_COUNT | Launch_Site  |
+-----------------------+--------------+
|           26          | CCAFS LC-40  |
|           34          | CCAFS SLC-40 |
|           25          |  KSC LC-39A  |
|           16          | VAFB SLC-4E  |
+-----------------------+--------------+

In [88]:
%sql select  sum("Mission_Outcome") as MISSION_OUTCOME_COUNT,Launch_Site  from SPACEXTBL group by "Launch_Site";

Running query in 'sqlite:///my_data1.db'

+-----------------------+--------------+
| MISSION_OUTCOME_COUNT | Launch_Site  |
+-----------------------+--------------+
|          0.0          | CCAFS LC-40  |
|          0.0          | CCAFS SLC-40 |
|          0.0          |  KSC LC-39A  |
|          0.0          | VAFB SLC-4E  |
+-----------------------+--------------+

In [33]:
%sql SELECT SUM(PAYLOAD_MASS__KG_), Customer FROM SPACEXTBL WHERE Customer LIKE 'NASA (CRS)'

Running query in 'sqlite:///my_data1.db'

+------------------------+------------+
| SUM(PAYLOAD_MASS__KG_) |  Customer  |
+------------------------+------------+
|         45596          | NASA (CRS) |
+------------------------+------------+

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [43]:
%sql SELECT AVG(PAYLOAD_MASS__KG_), Booster_Version FROM SPACEXTBL  WHERE Booster_Version LIKE '%F9 v1.1%' Group BY Booster_Version

Running query in 'sqlite:///my_data1.db'

+------------------------+-----------------+
| AVG(PAYLOAD_MASS__KG_) | Booster_Version |
+------------------------+-----------------+
|         2928.4         |     F9 v1.1     |
+------------------------+-----------------+

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [54]:
%sql SELECT min(Date), Landing_Outcome FROM SPACEXTBL WHERE Landing_Outcome LIKE '%Success%'

Running query in 'sqlite:///my_data1.db'

+------------+----------------------+
| min(Date)  |   Landing_Outcome    |
+------------+----------------------+
| 2015-12-22 | Success (ground pad) |
+------------+----------------------+

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [75]:
SELECT *
FROM SPACEXTBL 
WHERE Launch_Site LIKE 'CCA%' 
LIMIT 5;

SyntaxError: invalid syntax (738297588.py, line 1)

### Task 7




##### List the total number of successful and failure mission outcomes

In [67]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM SPACEXTBL GROUP BY Mission_Outcome

Running query in 'sqlite:///my_data1.db'

+----------------------------------+------------------------+
|         Mission_Outcome          | COUNT(Mission_Outcome) |
+----------------------------------+------------------------+
|       Failure (in flight)        |           1            |
|             Success              |           98           |
|             Success              |           1            |
| Success (payload status unclear) |           1            |
+----------------------------------+------------------------+

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [78]:
%sql SELECT Booster_Version, PAYLOAD_MASS__KG_  FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

Running query in 'sqlite:///my_data1.db'

+-----------------+-------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |
+-----------------+-------------------+
|  F9 B5 B1048.4  |       15600       |
|  F9 B5 B1049.4  |       15600       |
|  F9 B5 B1051.3  |       15600       |
|  F9 B5 B1056.4  |       15600       |
|  F9 B5 B1048.5  |       15600       |
|  F9 B5 B1051.4  |       15600       |
|  F9 B5 B1049.5  |       15600       |
|  F9 B5 B1060.2  |       15600       |
|  F9 B5 B1058.3  |       15600       |
|  F9 B5 B1051.6  |       15600       |
+-----------------+-------------------+
Truncated to displaylimit of 10.

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [80]:
%sql SELECT substr(Date, 6, 2) as Month,Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTBL WHERE  substr(Date, 1, 4) = '2015' AND Landing_Outcome LIKE '%Failure (drone ship)%'

Running query in 'sqlite:///my_data1.db'

+-------+----------------------+-----------------+-------------+
| Month |   Landing_Outcome    | Booster_Version | Launch_Site |
+-------+----------------------+-----------------+-------------+
|   01  | Failure (drone ship) |  F9 v1.1 B1012  | CCAFS LC-40 |
|   04  | Failure (drone ship) |  F9 v1.1 B1015  | CCAFS LC-40 |
+-------+----------------------+-----------------+-------------+

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [81]:
%sql SELECT Landing_Outcome, COUNT(*) as Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC

Running query in 'sqlite:///my_data1.db'

+------------------------+---------------+
|    Landing_Outcome     | Outcome_Count |
+------------------------+---------------+
|       No attempt       |       10      |
|  Success (drone ship)  |       5       |
|  Failure (drone ship)  |       5       |
|  Success (ground pad)  |       3       |
|   Controlled (ocean)   |       3       |
|  Uncontrolled (ocean)  |       2       |
|  Failure (parachute)   |       2       |
| Precluded (drone ship) |       1       |
+------------------------+---------------+

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>